body {
    background-image: url(fondo-1400x860.jpg);
}

img {
    width: 5%;
    height: auto;
    padding-left: 8%;
}

#TextoCentral {
    width: 30%;
    padding-left: 8%;
}

#MasInfo {
    width: 30%;
    padding-top: 2%;
    padding-left: 8%;
    color: blue;
}

#boton{
    max-width: 30%;
    padding-left: 8%;
    padding-top: 2%;
}

#plan {
    width: 30%;
    padding-top: 2%;
    padding-left: 8%;
    padding-bottom: 2%;
    background-color: blue;
    color: white;
    border-radius: 10px;
}

footer ul{

    display: flex;
    margin-top: 20%;
    height: 12em;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}